@import url("https://fonts.cdnfonts.com/css/cascadia-code");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #0d0d0d;
  --color-secondary: #f2f2f2;
  --color-tertiary: #00c6cf;
}
a {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: "Cascadia Code", sans-serif;
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-family: "Cascadia Code", sans-serif;
  overflow-x: hidden;
}

.cta-main {
  margin-top: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  border: solid 2px #1f80ed;
  /*border-image-slice: 1;
 border-image-source: linear-gradient(    to bottom,    #1f80ed,    var(--color-tertiary),    var(--color-primary)  );
 */
  width: fit-content;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
.cta-main:hover {
  border-color: #fff;
  background-color: #1f80ed;
}

nav {
  z-index: 9001;
  background-color: #0d0d0d;
  position: sticky;
  top: 0;
  width: 100%;
}
.nav_outer-wrapper {
  width: 100%;
  padding: 2vh 4vh;
}
.nav_row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr 1fr 1fr;
  place-items: center;
}
.nav_col {
  border: solid 1px transparent;
  transition: all ease 0.3s;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}
.nav_row1 a {
  font-size: clamp(0.3rem, 1.5vh, 2rem);
  transition: all ease 0.9s;
  -webkit-transition: all ease 0.9s;
  -moz-transition: all ease 0.9s;
  -ms-transition: all ease 0.9s;
  -o-transition: all ease 0.9s;
}
.nav_col:not(.logo):hover {
  border: solid 1px #ffffff;
  transform: scale(1.1);
}
.nav_col:hover a {
  color: #2f80ed;
}
.nav_col.logo:hover {
  transform: scale(1.1);
}
.nav_col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_col img {
  width: clamp(4rem, 7vh, 7rem);
}

.hero {
  background-size: contain;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #0d0d0d, #2f80ed, #0d0d0d);
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.highlight {
  color: #2f80ed;
}

.hero-description {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-icon {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all 0.3s ease;
  aspect-ratio: 1/1;
}

.social-icon i {
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: #ffffff;
  color: #2f80ed;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .social-icon {
    font-size: 1rem;
  }
}

#mousetrail {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  z-index: 10000;
  pointer-events: none;
}
#mouse-cursor {
  width: 50px;
  height: 50px;
  background: radial-gradient(#2f80ed, #2f80ed20);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.projects {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 3vw;
  gap: 3vw;
  border-top: solid 2px;
  border-image-slice: 1;
  border-image: linear-gradient(to left, #2f80ed20, #2f80ed, #2f80ed20) 1 100%;
}
.project-header h1 {
  font-size: 3rem;
}
.project-header p {
  font-size: 1.5rem;
}

.project-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2.5vw;
}
@media screen and (max-width: 1020px) {
  .project-wrapper {
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: none;
    width: 100%;
  }
}

.project-innerwrap {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  border: solid 2px;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}

.project-main {
  background-color: #2f80ed;
  aspect-ratio: 1/1;
  width: 100%;
}

.projects img {
  width: 100px;
  overflow: hidden;
  object-fit: contain;
}

.project-innerwrap {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.project-main > div {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.project-main > div > div {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.project-main > div > div > h4 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  font-size: 5rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 2%;
  color: #0d0d0d;
}
.project-main > div > div > img {
  width: 5%;
  height: fit-content;
}
.project-description {
  font-size: 5rem;
  max-width: 50%;
}
.project-description span {
  color: #0d0d0d;
}

.project-main > img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  bottom: -35%;
}
.project-button-p1 {
  padding: 1.5rem 3rem;
  background-color: #ffffff;
  color: #0d0d0d;
  width: fit-content;
  border-radius: 200rem;
  -webkit-border-radius: 200rem;
  -moz-border-radius: 200rem;
  -ms-border-radius: 200rem;
  -o-border-radius: 200rem;
  font-size: 1.25rem;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  border: 1px #fff none;
}
.project-button-p1:hover {
  background-color: #0d0d0d;
  color: #ffffff;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border: #ffffff solid 1px;
}
.project-sec {
  position: relative;
}
.project-sec > img {
  position: absolute;
  width: 95%;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.project-sec p {
  font-size: clamp(1.2rem, 5vw, 5.6rem);
  text-align: justify;
}
.project-sec p span {
  color: #2f80ed;
}

.project-third {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-third > img {
  width: 95%;
}
.project-third p {
  font-size: clamp(1.2rem, 4vw, 4.2rem);
  text-align: justify;
}
.project-third p span {
  color: #2f80ed;
}

.project2,
.project3 {
  display: none;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  aspect-ratio: 4/7;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 5%;
  left: 50%;

  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(28px);
    -webkit-transform: translateY(28px);
    -moz-transform: translateY(28px);
    -ms-transform: translateY(28px);
    -o-transform: translateY(28px);
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 10vh 3rem 3rem 3rem;
  margin-top: 5vh;
  width: 100vw;
  font-size: 1.5rem;
}

.about-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  place-items: center;
}
.about i {
  font-size: 1rem;
}
.about-general {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.about-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-list-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}
.about-list-2 ul {
  list-style: none;
}
.about h5 {
  border-bottom: #2f80ed60 solid 1px;
  margin: 25px 0;
  padding: 10px 0;
  font-size: 2.5rem;
  font-weight: 400;
}
.empty-li {
  list-style: none;
  border: transparent solid 1px;
  margin: 25px 0;
}

.expertise-wrapper {
  background-color: #1b1d1e;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4vh;
  justify-content: center;
  columns: 2;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 4vh 0 8vh 0;
}
.expertise-col1 {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  gap: 1vh;
}

.expertise-col1 > div {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  gap: 1vh;
  position: sticky;
  top: 25%;
}
.expertise-title {
  font-size: 0.6vw;
  background-color: #2f80ed;
  width: fit-content;
  padding: 0.2vh 0.3vw;
  border-radius: 5vw;
  -webkit-border-radius: 5vw;
  -moz-border-radius: 5vw;
  -ms-border-radius: 5vw;
  -o-border-radius: 5vw;
}
.expertise-col1 h3 {
  font-size: clamp(24px, 4vh, 56px);
  font-weight: 500;
}

.expertise-col1 h3 em {
  font-size: clamp(24px, 4vh, 56px);
  font-style: normal;
  color: rgb(144, 144, 144);
}
.expertise-col1 > p {
  font-size: clamp(9px, 1.6vh, 20px);
  font-weight: 400;
  max-width: 50%;
}

.expertise-links {
  margin-top: 1vh;
  display: flex;
  gap: 0.75vw;
}
.contact_button {
  display: flex;
  align-items: center;
  justify-content: end;
  width: fit-content;
  background-color: white;
  border-radius: 5vw;
  -webkit-border-radius: 5vw;
  -moz-border-radius: 5vw;
  -ms-border-radius: 5vw;
  -o-border-radius: 5vw;
  color: #1b1d1e;
  text-decoration: none;
  font-size: 1.2vh;
  padding: 0.2vh 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact_button p {
  padding: 0 0.4vw;
}
.contact_button-images {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  margin: 0 0.2vw 0 0;
  background-color: #1b1d1e;
  border-radius: 50%;
  padding: 0.2vh;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.contact_button-images img {
  margin-bottom: 4px;
  width: 1.6vh;
  height: 1.6vh;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.contact_button:hover {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.contact_button:hover .contact_button-images img {
  transform: translateY(calc(-100% - 4px));
  -webkit-transform: translateY(calc(-100% - 4px));
  -moz-transform: translateY(calc(-100% - 4px));
  -ms-transform: translateY(calc(-100% - 4px));
  -o-transform: translateY(calc(-100% - 4px));
}
.contact_button:hover .contact_button-images svg {
  transform: translateY(calc(-100% - 4px));
  -webkit-transform: translateY(calc(-100% - 4px));
  -moz-transform: translateY(calc(-100% - 4px));
  -ms-transform: translateY(calc(-100% - 4px));
  -o-transform: translateY(calc(-100% - 4px));
}

.expertise-col2 {
  display: flex;
  width: 40%;
}

.expertise-col2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.expertise-card {
  position: sticky;
  top: 30%;
  padding: 2vh;
  background-color: #0d0d0d;
  color: #fff;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  gap: 4vh;
  display: flex;
  flex-direction: column;
  border: #2f80ed 0.1px solid;
}
.expertise-card1 {
  top: 25%;
}
.expertise-card2 {
  top: 27%;
}
.expertise-card3 {
  top: 29%;
}
.expertise-card4 {
  top: 31%;
}

.expertise-card-icon {
  height: 6vh;
  aspect-ratio: 1/1;
  background-color: #1b1d1e;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.expertise-card-icon img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.expertise-card-row1 {
  display: flex;
  gap: 2vh;
}
.expertise-card-col2 {
  display: flex;
  flex-direction: column;
  gap: 0.25vh;
  gap: 1vh;
}
.expertise-card-col2 h4 {
  font-size: 1.8vh;
}
.expertise-card-traits {
  display: flex;
  gap: 1.25vh;
}
.expertise-card-traits > * {
  border-radius: 4vw;
  -webkit-border-radius: 4vw;
  -moz-border-radius: 4vw;
  -ms-border-radius: 4vw;
  -o-border-radius: 4vw;
  padding: 0.2vh 0.5vh;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.expertise-card-trait1 {
  background-color: #2f80ed;
  color: #fff;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.expertise-card-trait2 {
  background-color: #1b1d1e;
  color: #fff;
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}
.expertise-card-trait3 {
  border: #1b1d1e solid 1px;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.expertise-card:hover .expertise-card-traits > * {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.expertise-card-row2 {
  line-height: 150%;
}

@media screen and (max-width: 1250px) {
  .expertise-wrapper {
    flex-direction: column;
    font-size: 1.7vh;
    align-items: center;
    justify-content: center;
  }
  .expertise-title {
    font-size: 2vh;
    padding: 0.2vh 1vh;
  }
  .expertise-card1 {
    top: 10%;
  }
  .expertise-card2 {
    top: 12%;
  }
  .expertise-card3 {
    top: 14%;
  }
  .expertise-card4 {
    top: 16%;
  }
  .expertise-col1 {
    max-width: 95%;
  }
  .expertise-col2 {
    width: 100%;
  }
  .expertise-card {
    width: 100%;
  }
  .expertise-links {
    gap: 1vh;
  }
  @media screen and (orientation: portrait) {
    .contact_button {
      font-size: 1.6vh;
      padding: 0.2vh 0;
    }

    .contact_button-images img {
      width: 2vh;
      height: 2vh;
    }
  }
}
